body {
    margin: 0;
    background-color: #f6f7fc;
    color: #424242;
    font-family: 'Poppins', sans-serif;
}

#navAbout a {
    color: #47af7dbd;
}

#hrAbout {
    background-color: #47af7dbd;
    width: 100%;
}

mainBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
}

topBox {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

leftBox {
    display: flex;
    flex-direction: column;
    width: 800px;
}

rightBox {
    display: flex;
    width: 400px;
    height: 300px;
}

#name {
    margin: 10px 0 10px 0;
    font-size: 30px;
}

#studie {
    letter-spacing: 1px;
    font-size: 20px;
    color: #828282;
}

#myDesc {
    width: 500px;
    margin: 10px 0 20px 0;
    color: #828282;
    line-height: 27px;
}

.textLink {
    text-decoration: none;
    color: #47af7dbd;
}

#downloadButton {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #47af7dbd;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

button:hover {
    background-color: #54b888bd;
    transform: scale(99%);
}

rightBox img {
    height: 270px;
    width: 400px;
}

bottomBox {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
}

.title {
    margin: 10px 0 10px 0;
    font-size: 20px;
}

#expDesc {
    width: 100%;
    max-width: 730px;
    color: #828282;

}

#myExperiences {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 50px;

}

.experience {
    display: flex;
    height: 80px;
    width: 200px;
    flex-direction: column;
}

.experienceImg {
    height: 40px;
    width: 40px;
    margin-bottom: 12px;
}

.experienceName {
    margin-bottom: 6px;
    font-size: 15px;
    color: #2d2d2d;
}

.experienceDetail {
    width: 300px;
    height: 100px;
    color: #828282;
    word-break: break-all;
}

.downloadAnimation {
    position: absolute;
    top: 11px;
    left: 18px;
    height: 16px;
    width: 16px;
    margin-right: 6px;
}

#titleTalen {
    position: absolute;
    top: -70px;
    left: 0;
}