body {
    margin: 0;
    background-color: #f6f7fc;
    color: #424242;
    font-family: 'Poppins', sans-serif;
}

#nav-about a {
    color: #47af7dbd;
}

#hr-about {
    background-color: #47af7dbd;
    width: 100%;
}

main-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
}

top-box {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

left-box {
    display: flex;
    flex-direction: column;
    width: 800px;
}

right-box {
    display: flex;
    width: 400px;
    height: 300px;
}

name {
    margin: 0 0 10px 0;
    font-size: 35px;
}

studie {
    letter-spacing: 1px;
    font-size: 20px;
    color: #828282;
}

my-desc {
    width: 500px;
    margin: 10px 0 20px 0;
    color: #828282;
    line-height: 27px;
}

.text-link {
    text-decoration: none;
    color: #47af7dbd;
}

#download-button {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #47af7dbd;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

button:hover {
    background-color: #54b888bd;
    transform: scale(99%);
}

download-animation {
    position: absolute;
    top: 11px;
    left: 18px;
    height: 16px;
    width: 16px;
    margin-right: 6px;
}

right-box iframe {
    height: 250px;
    width: 100%;
    margin-top: 25px;
}

bottom-box {
    display: flex;
    margin-top: 70px;
    flex-direction: column;
}

heading {
    margin: 10px 0 10px 0;
    font-size: 20px;
}

exp-desc {
    width: 100%;
    max-width: 730px;
    color: #828282;

}

my-experiences {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1200px;
    gap: 20px;
    margin-top: 150px;
    margin-bottom: 100px;

}

experience {
    display: flex;
    height: 80px;
    width: 200px;
    flex-direction: column;
    opacity: 0;
}

.experience-img {
    height: 100%;
    max-height: 40px;
    width: 40px;
    margin-bottom: 12px;
}

experience-name {
    margin-bottom: 6px;
    font-size: 15px;
    color: #2d2d2d;
}

title-talen {
    position: absolute;
    top: -50px;
    left: 0;
}

.grey-star,
.green-star {
    height: 25px;
}

@keyframes moveExperience {
    from {
        transform: translateX(-20px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}