body {
    margin: 0;
    background-color: #f6f7fc;
    color: #424242;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

#nav-contact a {
    color: #6c55e1bd;
}

#hr-contact {
    background-color: #6c55e1bd;
    width: 100%;
}

main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
}

contact-box {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 480px;
    width: 100%;
    max-width: 500px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

#title {
    margin-bottom: 10px;
    font-weight: 500;
    color: #424242;
}

.text {
    height: 40px;
    margin-bottom: 10px;
    border: none;
    background-color: #f3f3f9;
    color: #828282;
    border-radius: 5px;
    padding-left: 10px;
}

#bericht {
    height: 100px;
    resize: none;
    border: none;
    border-radius: 5px;
    background-color: #f3f3f9;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: 2px solid #6c55e1bd;
}

#verstuur {
    height: 40px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    background-color: #6c55e1bd;
    font-weight: 600;
    cursor: pointer;
}

#verstuur:hover {
    background-color: #735beebd;
}

mail-animation {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 250px;
    width: 250px;
}