body {
    margin: 0;
    background-color: #f6f7fc;
    color: #424242;
    font-family: 'Poppins', sans-serif;
}


#nav-home a {
    color: #ff8080bd;
}

#hr-home {
    background-color: #ff8080bd;
    width: 100%;
}

main-box {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: fit-content;
    margin-left: 50%;
    transform: translate(-50%);
}

profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 850px;
    width: 100%;
    max-width: 1200px;
}

left-box {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    max-width: 800px;

}

right-box {
    position: relative;
    display: flex;
    height: 400px;
    width: 100%;
    max-width: 540px;
}

#profiel-foto {
    position: absolute;
    height: 400px;
    width: 400px;
    top: 0;
    left: 0;
    animation: move-img 0.9s ease-in-out forwards;

}

border {
    position: absolute;
    height: 397px;
    width: 397px;
    top: 0;
    left: 0;
    z-index: -1;
    border: 3px solid #ff8080bd;
    animation: move-border 0.9s ease-in-out forwards;
}

@keyframes move-border {
    from {
        top: 0;
        left: 0;
    }

    to {
        top: 4px;
        left: 4px;
    }
}

@keyframes move-img {
    from {
        top: 0;
        left: 0;
    }

    to {
        top: -10px;
        left: -10px;
    }
}

.text-link {
    text-decoration: none;
    color: #ff8080bd;
}

header {
    margin: 0 0 10px 0;
    font-size: 45px;
    margin-top: 50px;
    transform: translateX(-100px);
    animation-name: moveText;
    animation: move-text 1s ease forwards;
    opacity: 0;
}

introductie {
    width: 550px;
    margin: 10px 0 20px 0;
    color: #828282;
    line-height: 27px;
    margin-left: 5px;
    transform: translateX(-100px);
    animation: move-text 0.8s ease 0.2s forwards;
    opacity: 0;
}

@keyframes move-text {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media only screen and (max-width:1245px) {
    profile {
        flex-direction: column;
    }

    right-box {
        max-width: 770px;
    }
}