body {
    font-family: 'Open Sans', sans-serif;
}

navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: white;
}

navbar ul {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul li {
    list-style: none;
    transition: 0.1s;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: #c6c7d3;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
}

ul li:hover {
    transform: scale(110%);
    font-weight: 400;
    transition: 0.4s;
}

hr {
    position: absolute;
    top: 15px;
    height: 5px;
    width: 33px;
    background-color: #4d9bff;
    border-radius: 5px;
    border: none;
}