navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

navbar ul {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

ul li {
    list-style: none;
    position: relative;
}

ul li a {
    text-decoration: none;
    color: #b0b0ba;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: 1px;
}

ul li a::before,
ul li a::after {
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    cursor: pointer;
}

hr {
    position: absolute;
    top: 16px;
    height: 4px;
    width: 20%;
    border-radius: 5px;
    border: none;
    transition: width 0.2s linear, background-color 0.2s linear;
    float: left;
    cursor: pointer;
}

#nav-home:hover>#hr-home {
    background-color: #ff8080bd;
    width: 100%;
    float: right;
}

#nav-home:hover>a {
    color: #ff8080;
}

#nav-projecten:hover>#hr-projecten {
    background-color: #4d9bffbd;
    width: 100%;
    float: right;
}

#nav-projecten:hover>a {
    color: #4d9bffbd;
}

#nav-about:hover>#hr-about {
    background-color: #47af7dbd;
    width: 100%;
    float: right;
}

#nav-about:hover>a {
    color: #47af7dbd;
}

#nav-contact:hover>#hr-contact {
    background-color: #6c55e1bd;
    width: 100%;
    float: right;
}

#nav-contact:hover>a {
    color: #6c55e1bd;
}

@media only screen and (max-width:1245px) {

    ul li a::before,
    ul li a::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    navbar ul {
        margin: 0 15px 0 15px;
    }
}